*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.flex{
    display: flex;
    align-items: center;
}
li{
    list-style-type: none;
}
/* Testi */
h2{
    /* padding: 1.5em 1.2em 0; */
    font-size: 1.2em;
}
h4{
    font-size: 0.7em;
}
h5{
    font-size: 0.5em;
    font-weight: 600;
    color: #a3a3a3;
    padding-top: 0.5em;
}
/* Sezioni */
body{
    height: 100vh;
    width: 100%;
}


/* Header */
header{
    height: 90px;
    width: calc( 100% - 250px);
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 3;
    position: fixed;
    right: 0;
    justify-content: end;
}
.upgrade{
    color: white;
    border: solid 2px white;
    background-color: transparent;
    border-radius: 50px;
    padding: 1em;
    width: 200px;
    margin-right: 1em;
}
.upgrade:hover {
    transform: scale(1.1);
}

/* BONUS */
@media screen and (max-height:350px) {
    header{
        height: 0px;
    }
    .upgrade{
        display: none;
    }
}

/* Main */
main{
    width: 100%;
    height: calc(100% - 100px);
    background-color: #141922;
    overflow: hidden;
}
.sidebar{
    width: 250px;
    height: 100%;
    background-color: black;
    position: relative;
    float: left;
}
#logo{
    max-width: 80%;
    padding: 1.5em 2em;
}
#logo-small{
    display: none;
}

/* Lista Home-Cerca-Libreria */
.icon{
    margin-left: 2em;
    width: 10%;
    margin-right: 0.5em;
    fill:#a3a3a3 ;
}
.list-button:hover .icon{
    fill: white;
}
.first-list li{
    padding-bottom: 1em;
}
.list-button{
    background-color: transparent;
    border: none;
    color: #a3a3a3;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 700;
}
.list-button:hover{
    cursor: pointer;
    color: white;
}
.list-button:focus{
    border-left: 3px solid #adff2f;
    color: white;
}

/* Lista Playlist */
.playlist{
    height: 30vh;
    overflow: auto;
}
.playlist ul{
    margin-left: 1.7em;
}
.playlist ul li{
    padding-bottom: 1em;
    color: #a3a3a3;
    font-size: 0.7em;
    font-weight: 500;
}
.playlist h3{
    padding: 1.5em 0 1em 1.8em;
    font-size: 0.9em;
}
.square{
    background-color: #a3a3a3;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 0.5em;
}
.fa-plus{
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.playlist li:hover{
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.square:hover{
    cursor: pointer;
    background-color: white;
}

/* Lista User */
.user{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    padding: 1em 1.8em;
}
.user li {
    color: #a3a3a3;
    font-size: 0.7em;
    font-weight: 500;
}
.user li:hover{
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.user-icon{
    width: 7%;
    margin-right: 0.5em;
}
hr{
    margin: 0.5em 0;
    width: 80%;
    background-color: #a3a3a3;
}
.user h3{
    color: white;
}
.round{
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color:#a3a3a3 ;
}

/* Sezione centrale */
.main-section{
    height: 100%;
    overflow: auto;
    float: left;
    width: calc(100% - 250px);
    padding-top: 7em;
}
.navbar ul{
    justify-content: center;
    flex-wrap: wrap;
}
.navbar ul li{
    padding: 0.5em 1em;
    font-size: 0.7em;
    font-weight: 600;
    color:#a3a3a3 ;
} 
.navbar ul li:first-child{
    border-bottom: solid 3px #adff2f;
} 
.navbar ul li:hover{
    color: white;
    cursor: pointer;
}
.cover-list ul {
    padding-left: 1.5em;
    align-items: flex-start;
    flex-wrap: wrap;
}
.cover-list li{
    padding-right: 1em;
}
.title{
    padding: 2em 1.5em;
}
.subtitle{
    padding-top:0.8em ;
    width: 10vw;
    text-align: center;
}
.cover{
    width: 10vw;
}
.cover img{
    width: 100%;
}
.album{
    position: relative;
}
.play-hover{
    display: none;
    position: absolute;
    font-size: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
}
.album:hover .cover {
    cursor: pointer;
    filter: opacity(0.5);
}
.album:hover .play-hover{
    display: block;
    cursor: pointer; 
}
.album:hover .cover-round{
    cursor: pointer;
    filter: opacity(0.5);
}
.cover-john-doe p{
    font-size: 0.6em;
    color:  #a3a3a3;
}
.cover-john-doe ul{
    justify-content: start;
    padding-left: 1.5em;
}
.cover-john-doe li{
    padding-right: 1em;
}
.popular p{
    font-size: 0.6em;
    color:  #a3a3a3;
}
.popular ul{
    justify-content: start;
    padding-left: 1.5em;
    list-style-type: none;
}
.popular li{
    padding-right: 1em;
}
.cover-round{
    width: 10vw;
    border-radius: 100px;
}

/* Footer */
footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}
.external{
    width: 250px;
    padding-left: 1.3em;
    justify-content: space-between;
}
.external div>p{
    font-size: 0.6em;
    font-weight: 700;
    width: 10em;
}
.mini-cover{
    width: 50px;
    margin-right: 1em;
}
.external i{
    margin-right: 0.7em;
    color:#a3a3a3 ;
}
.external i:hover{
    color: white;
    cursor: pointer;
}
.external .flex span{
    font-weight: 500; 
    color:#a3a3a3;
}
.external .flex span:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.central{
    width: calc(100% - 500px);
}
.player ul{
    justify-content: center;
}
.player li{
    list-style-type: none;
    padding: 0 1em;
}
.player li:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.fa-play-circle{
    font-size: 2em;
}
.timer{
    justify-content: center;
    padding-top: 0.8em;
}
.central .flex p{
    font-size: 0.7em;
}

/* Barra di avanzamento */
.time {
    background: #333;
    border-radius: 13px;
    height: 0.3em;
    width: 30vw;
    margin: 0 2em;
    position: relative;
}
.time:after {
    content: '';
    display: block;
    background: #a3a3a3 ;
    width: 10vw;
    height: 100%;
    border-radius: 9px;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    left: 9vw;
    top: 0;
    transform: translate( 0, -40%);
    background-color: #adff2f;
    display: none;
}
.time:hover .circle{
    display: block;
    cursor: pointer;
}
.time:hover::after{
    content: '';
    display: block;
    background: #adff2f ;
    width: 10vw;
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
}

/* Barra del volume */
.volume {
    background: #333;
    border-radius: 13px;
    height: 0.3em;
    width: 10vw;
    margin: 0 0.5em;
    position: relative;
}
.volume:after {
    content: '';
    display: block;
    background: #a3a3a3 ;
    width: 2vw;
    height: 100%;
    border-radius: 9px;
}
.volume:hover::after{
    content: '';
    display: block;
    background: #adff2f ;
    width: 2vw;
    height: 100%;
    border-radius: 9px;
    cursor: pointer;
}
.vol-circle{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    left: 1.5vw;
    top: 0;
    transform: translate( 0, -30%);
    background-color: #adff2f;
    display: none;
}
.volume:hover .vol-circle{
    display: block;
    cursor: pointer;
}


/* SCREEN 1100 PX */
@media screen and (max-width:1100px){
    .cover{
        width: 15vw;
    }
    .subtitle{
        width: 15vw;
        padding-bottom: 1em;
    }
    .cover-round{
        width: 15vw ;
    }
    .external{
        width: 250px;
    }
    .central{
        width: calc(100% - 500px);
    }
    .time{
        width: 60%;
        margin: 0 1em;
    }
    .external div>p{
        width: 8em;
    }
   .player li{
       padding: 0 0.5em;
   }
}
/* SCREEN 700PX */
@media screen and (max-width:700px) {
    .cover{
        width: 23vw;
    }
    .subtitle{
        width: 23vw;
        padding-bottom: 1em;
    }
    .cover-round{
        width: 23vw ;
    }
    .external{
        width: 35%;
    }
    .time{
        width: 45%;
    }
    .track-icon{
        flex-direction: column;
        align-items: center;
        padding-left: 2em;
    }
    .track-icon i{
        padding-bottom: 0.5em;
    }
    .external div>p{
        width: 8em;
    }
    .volume{
        width: 10vw;
    }
    .navbar ul li {
        padding: 1.5em 1.5em;
    }
}

/* SCREEN 600px */
@media screen and (max-width: 600px) {
    header{
        width: calc(100% - 50px);
    }
    .sidebar{
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-section{
        width: calc(100% - 50px);
    }
    #logo{
        display: none;
    }
    #logo-small{
        display: block;
        width: 50%;
        margin-top: 1em;    
    }
    .first-list p {
        display: none;
    }
    .first-list{
        margin-top: 1em;
    }
    .icon {
        width: 25px;
        margin: 0;
    }
    .playlist{
        display: none;
    }
    .user{
        width: 25px;
        padding: 0;
        margin-bottom: 1em;
    }
    .user p, h3{
        display: none;
    }
    .user li{
        justify-content: center;
        margin-top: 1em;
    }
    .user-icon{
        width: 20px;
        margin: 0;
    }
    .round{
        border-radius: 50px;
    }
    hr{
        display: none;
    }
    .mini-cover{
        width: 8vw
    }
    .central{
        width: 40%;
    }
    .external{
        width: 30%;
    }
    .track-icon{
        flex-direction: column;
        padding: 0;
    }
    .external div>p{
        width: 5em;
    }
    .track-icon i {
        margin: 0.25em 0.35em;
    }
    .player li{
        padding: 0 0.5em;
    }
    .time{
        margin: 0 0.5em;
        width: 40%;
    }
    .cover{
        width: 35vw;
    }
    .subtitle{
        width: 35vw;
        padding-bottom: 1em;
    }
    .cover-round{
        width: 35vw ;
        border-radius: 150px;
    }
    .navbar ul li {
        padding: 1.5em 2em;
    }
}

